
<!DOCTYPE html>
{% load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/movie.css"%}">
    <title></title>
  </head>
  <body>
    <h2>movie information</h2>
    {% if movie_list%}
    <table>
      <thead>
        <th>RELEASING DATE</th>
        <th>MOVIE NAME</th>
        <th>HERO NAME</th>
        <th>HEROIN NAME</th>
        <th>RATING</th>
      </thead>
      {% for movie in movie_list%}
      <tr>
        <td>movie.rdate</td>
        <td>movie.moviename</td>
        <td>movie.heroname</td>
        <td>movie.heriinname</td>
        <td>movie.rating</td>
      </tr>
      {%endfor%}
    </table>
    {%  else %}
    <p>movie list is not present</p>
  {%endif %}


  </body>
</html>
